.two-section-bg{
    background-color: #FFF8EE;
    padding: 20px;
}
/* mobile nav start */

.mobile-menyu{ 
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 0;
    height: 100vh;
    z-index: 9999;
}
.mobile-menyu.mobile-menyu-acan{
    width: 100%;
}

/* child element */





/* mobile nav end */

/* header start */
.header {
    align-items: center;
    padding: 20px,0;
    
}
.header .header-nav a{
    text-decoration: none;
    color: #000;
    margin-right: 30px;
}
.header nav{
    margin-top: 10px;
}
.header{
    justify-content: space-between;
}
.header_right button{
    background-color:#C47344;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}
/* header end */





@media(min-width:768px){

}